
.gradle/8.0/checksums/checksums.lock
.gradle/8.0/checksums/md5-checksums.bin
.gradle/8.0/checksums/sha1-checksums.bin
.gradle/8.0/dependencies-accessors/dependencies-accessors.lock
.gradle/8.0/dependencies-accessors/gc.properties
.gradle/8.0/executionHistory/executionHistory.bin
.gradle/8.0/executionHistory/executionHistory.lock
.gradle/8.0/fileChanges/last-build.bin
.gradle/8.0/fileHashes/fileHashes.bin
.gradle/8.0/fileHashes/fileHashes.lock
.gradle/8.0/fileHashes/resourceHashesCache.bin
.gradle/8.0/gc.properties
.gradle/8.7/checksums/checksums.lock
.gradle/8.7/checksums/md5-checksums.bin
.gradle/8.7/checksums/sha1-checksums.bin
.gradle/8.7/dependencies-accessors/gc.properties
.gradle/8.7/executionHistory/executionHistory.bin
.gradle/8.7/executionHistory/executionHistory.lock
.gradle/8.7/fileChanges/last-build.bin
.gradle/8.7/fileHashes/fileHashes.bin
.gradle/8.7/fileHashes/fileHashes.lock
.gradle/8.7/fileHashes/resourceHashesCache.bin
.gradle/8.7/gc.properties
.gradle/buildOutputCleanup/buildOutputCleanup.lock
.gradle/buildOutputCleanup/cache.properties
.gradle/buildOutputCleanup/outputFiles.bin
.gradle/config.properties
.gradle/file-system.probe
.gradle/vcs-1/gc.properties
.idea/.name
.idea/assetWizardSettings.xml
.idea/codeStyles/codeStyleConfig.xml
.idea/codeStyles/Project.xml
.idea/compiler.xml
.idea/deploymentTargetSelector.xml
.idea/gradle.xml
.idea/inspectionProfiles/Project_Default.xml
.idea/kotlinc.xml
.idea/migrations.xml
.idea/misc.xml
.idea/other.xml
.idea/vcs.xml
.idea/workspace.xml
